---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: localfiles.demo.demo.io
spec:
  group: demo.demo.io
  names:
    kind: LocalFile
    listKind: LocalFileList
    plural: localfiles
    singular: localfile
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: LocalFile is the Schema for the localfiles API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of LocalFile
            properties:
              content:
                type: string
              path:
                description: foo is an example field of LocalFile. Edit localfile_types.go
                  to remove/update
                type: string
            required:
            - content
            type: object
          status:
            description: status defines the observed state of LocalFile
            properties:
              created:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                type: boolean
              message:
                type: string
            required:
            - created
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
